<img class="notebookImage" src="/img/notebook.png">

{{#bookmarks}}
    <a href="{{href}}" class="bookmark {{posClass}}">
        <img src="/img/{{image}}" alt="책갈피">
    </a>
{{/bookmarks}}

<a href="/setting" class="clipLink">
    <img class="clip" src="/img/clip.png" alt="설정">
</a>
